---
---

.site-title {
  font-family: "Great Vibes", Arial, "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 32px;            /* 文字の大きさ */
  font-weight: bold;          /* 太字 */
  color: #002294;             /* 澄んだ濃い青の文字（背景が白の場合） */
  letter-spacing: 0.05em;     /* 文字と文字の間隔を少し広げておしゃれに */
}

h1  {}
